@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Source+Sans+Pro%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Mukta+Vaani%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Rokkitt%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-iFK0LSJZpKEp: #fcf7fd;
  --plasmic-token-bg: var(--token-iFK0LSJZpKEp);
  --token-h6_UyrgvIYlT: #bc2054;
  --plasmic-token-accent: var(--token-h6_UyrgvIYlT);
  --token-YYMT8tNw4zQp: #621683;
  --plasmic-token-secondary: var(--token-YYMT8tNw4zQp);
  --token-ZCPVWjtKMh1f: #e76fb1;
  --plasmic-token-primary: var(--token-ZCPVWjtKMh1f);
  --token-N9fFTRfh-71N: #1f0727;
  --plasmic-token-text: var(--token-N9fFTRfh-71N);
  --token-IkcvTjgV1b3K: Source Sans Pro;
  --plasmic-token-source: var(--token-IkcvTjgV1b3K);
  --token-yZIcyvX_TWN2: Rokkitt;
  --plasmic-token-normal: var(--token-yZIcyvX_TWN2);
  --token-eZhmss2gzwdG: Mukta Vaani;
  --plasmic-token-bodies: var(--token-eZhmss2gzwdG);
  --token-gTy0IqWtGj6W: 72px;
  --plasmic-token-display: var(--token-gTy0IqWtGj6W);
  --token-T0t0T03VB4jj: 35px;
  --plasmic-token-main: var(--token-T0t0T03VB4jj);
  --token-uTiAYXpZgvHV: 28px;
  --plasmic-token-title: var(--token-uTiAYXpZgvHV);
  --token-PME5L7XPvpsq: 18px;
  --plasmic-token-body: var(--token-PME5L7XPvpsq);
  --token-9Euc8JWDpAXV: 16px;
  --plasmic-token-detail: var(--token-9Euc8JWDpAXV);
}

@media (min-width: 0px) and (max-width: 768px) {
  .plasmic_tokens {
    --token-9Euc8JWDpAXV: 65px;
    --plasmic-token-detail: var(--token-9Euc8JWDpAXV);
  }
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-gdcrn_ZrKZ9h_font-family: "Inter", sans-serif;
  --mixin-gdcrn_ZrKZ9h_font-size: 16px;
  --mixin-gdcrn_ZrKZ9h_font-weight: 400;
  --mixin-gdcrn_ZrKZ9h_font-style: normal;
  --mixin-gdcrn_ZrKZ9h_color: #535353;
  --mixin-gdcrn_ZrKZ9h_text-align: left;
  --mixin-gdcrn_ZrKZ9h_text-transform: none;
  --mixin-gdcrn_ZrKZ9h_line-height: 1.5;
  --mixin-gdcrn_ZrKZ9h_letter-spacing: normal;
  --mixin-gdcrn_ZrKZ9h_white-space: pre-wrap;
  --mixin-gdcrn_ZrKZ9h_user-select: text;
  --mixin-gdcrn_ZrKZ9h_text-decoration-line: none;
  --mixin-gdcrn_ZrKZ9h_text-overflow: clip;
  --mixin-HQcUrxPd9yqT_color: #000000;
  --mixin-HQcUrxPd9yqT_font-weight: 700;
  --mixin-HQcUrxPd9yqT_font-size: 64px;
  --mixin-HQcUrxPd9yqT_line-height: 1;
  --mixin-HQcUrxPd9yqT_letter-spacing: -1px;
  --mixin-HQcUrxPd9yqT_white-space: pre-wrap;
  --mixin-v9vH6o8tZnWE_color: #000000;
  --mixin-v9vH6o8tZnWE_font-size: 48px;
  --mixin-v9vH6o8tZnWE_font-weight: 700;
  --mixin-v9vH6o8tZnWE_letter-spacing: -0.5px;
  --mixin-v9vH6o8tZnWE_line-height: 1.1;
  --mixin-v9vH6o8tZnWE_white-space: pre-wrap;
  --mixin-VtAtoidBgHmI_color: #0070f3;
  --mixin-VtAtoidBgHmI_white-space: pre-wrap;
  --mixin-OexqNGmzJwT8_color: #000000;
  --mixin-OexqNGmzJwT8_font-size: 32px;
  --mixin-OexqNGmzJwT8_font-weight: 600;
  --mixin-OexqNGmzJwT8_line-height: 1.2;
  --mixin-OexqNGmzJwT8_white-space: pre-wrap;
  --mixin-R_RalThBLL0R_color: #000000;
  --mixin-R_RalThBLL0R_font-size: 24px;
  --mixin-R_RalThBLL0R_font-weight: 600;
  --mixin-R_RalThBLL0R_line-height: 1.3;
  --mixin-R_RalThBLL0R_white-space: pre-wrap;
  --mixin-DhU_PdZw6bs4_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-DhU_PdZw6bs4_border-bottom-color: #dddddd;
  --mixin-DhU_PdZw6bs4_border-bottom-style: solid;
  --mixin-DhU_PdZw6bs4_border-bottom-width: 1px;
  --mixin-DhU_PdZw6bs4_border-left-color: #dddddd;
  --mixin-DhU_PdZw6bs4_border-left-style: solid;
  --mixin-DhU_PdZw6bs4_border-left-width: 1px;
  --mixin-DhU_PdZw6bs4_border-right-color: #dddddd;
  --mixin-DhU_PdZw6bs4_border-right-style: solid;
  --mixin-DhU_PdZw6bs4_border-right-width: 1px;
  --mixin-DhU_PdZw6bs4_border-top-color: #dddddd;
  --mixin-DhU_PdZw6bs4_border-top-style: solid;
  --mixin-DhU_PdZw6bs4_border-top-width: 1px;
  --mixin-DhU_PdZw6bs4_border-bottom-left-radius: 3px;
  --mixin-DhU_PdZw6bs4_border-bottom-right-radius: 3px;
  --mixin-DhU_PdZw6bs4_border-top-left-radius: 3px;
  --mixin-DhU_PdZw6bs4_border-top-right-radius: 3px;
  --mixin-DhU_PdZw6bs4_font-family: "Inconsolata";
  --mixin-DhU_PdZw6bs4_padding-bottom: 1px;
  --mixin-DhU_PdZw6bs4_padding-left: 4px;
  --mixin-DhU_PdZw6bs4_padding-right: 4px;
  --mixin-DhU_PdZw6bs4_padding-top: 1px;
  --mixin-DhU_PdZw6bs4_white-space: pre-wrap;
  --mixin-3UDfSRSHSLVr_border-left-color: #dddddd;
  --mixin-3UDfSRSHSLVr_border-left-style: solid;
  --mixin-3UDfSRSHSLVr_border-left-width: 3px;
  --mixin-3UDfSRSHSLVr_color: #888888;
  --mixin-3UDfSRSHSLVr_padding-left: 10px;
  --mixin-3UDfSRSHSLVr_white-space: pre-wrap;
  --mixin-RYYrBaES5cyQ_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-RYYrBaES5cyQ_border-bottom-color: #dddddd;
  --mixin-RYYrBaES5cyQ_border-bottom-style: solid;
  --mixin-RYYrBaES5cyQ_border-bottom-width: 1px;
  --mixin-RYYrBaES5cyQ_border-left-color: #dddddd;
  --mixin-RYYrBaES5cyQ_border-left-style: solid;
  --mixin-RYYrBaES5cyQ_border-left-width: 1px;
  --mixin-RYYrBaES5cyQ_border-right-color: #dddddd;
  --mixin-RYYrBaES5cyQ_border-right-style: solid;
  --mixin-RYYrBaES5cyQ_border-right-width: 1px;
  --mixin-RYYrBaES5cyQ_border-top-color: #dddddd;
  --mixin-RYYrBaES5cyQ_border-top-style: solid;
  --mixin-RYYrBaES5cyQ_border-top-width: 1px;
  --mixin-RYYrBaES5cyQ_border-bottom-left-radius: 3px;
  --mixin-RYYrBaES5cyQ_border-bottom-right-radius: 3px;
  --mixin-RYYrBaES5cyQ_border-top-left-radius: 3px;
  --mixin-RYYrBaES5cyQ_border-top-right-radius: 3px;
  --mixin-RYYrBaES5cyQ_font-family: "Inconsolata";
  --mixin-RYYrBaES5cyQ_padding-bottom: 3px;
  --mixin-RYYrBaES5cyQ_padding-left: 6px;
  --mixin-RYYrBaES5cyQ_padding-right: 6px;
  --mixin-RYYrBaES5cyQ_padding-top: 3px;
  --mixin-RYYrBaES5cyQ_white-space: pre-wrap;
  --mixin-a3lm1AyZ4p1E_display: flex;
  --mixin-a3lm1AyZ4p1E_flex-direction: column;
  --mixin-a3lm1AyZ4p1E_align-items: stretch;
  --mixin-a3lm1AyZ4p1E_justify-content: flex-start;
  --mixin-a3lm1AyZ4p1E_list-style-position: outside;
  --mixin-a3lm1AyZ4p1E_padding-left: 40px;
  --mixin-a3lm1AyZ4p1E_position: relative;
  --mixin-a3lm1AyZ4p1E_list-style-type: disc;
  --mixin-a3lm1AyZ4p1E_white-space: pre-wrap;
  --mixin-vr9YH7aX6_TV_display: flex;
  --mixin-vr9YH7aX6_TV_flex-direction: column;
  --mixin-vr9YH7aX6_TV_align-items: stretch;
  --mixin-vr9YH7aX6_TV_justify-content: flex-start;
  --mixin-vr9YH7aX6_TV_list-style-position: outside;
  --mixin-vr9YH7aX6_TV_padding-left: 40px;
  --mixin-vr9YH7aX6_TV_position: relative;
  --mixin-vr9YH7aX6_TV_list-style-type: decimal;
  --mixin-vr9YH7aX6_TV_white-space: pre-wrap;
  --mixin-48ugKYo9Jits_color: #000000;
  --mixin-48ugKYo9Jits_font-size: 20px;
  --mixin-48ugKYo9Jits_font-weight: 600;
  --mixin-48ugKYo9Jits_line-height: 1.5;
  --mixin-48ugKYo9Jits_white-space: pre-wrap;
  --mixin--EKxWgPJSYkZ_color: #000000;
  --mixin--EKxWgPJSYkZ_font-size: 16px;
  --mixin--EKxWgPJSYkZ_font-weight: 600;
  --mixin--EKxWgPJSYkZ_line-height: 1.5;
  --mixin--EKxWgPJSYkZ_white-space: pre-wrap;
  --mixin-IJ1IdFt3f_tJ_color: #3291ff;
  --mixin-IJ1IdFt3f_tJ_white-space: pre-wrap;
  --mixin-eJ347smv6MhI_white-space: pre-wrap;
  --mixin-cEN3qO6YjJPf_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-mnXzq9TcjVrv_white-space: pre-wrap;
  --plasmic-mixin-bg_white-space: var(--mixin-mnXzq9TcjVrv_white-space);
  --mixin-0MfXPpSN1pl6_white-space: pre-wrap;
  --plasmic-mixin-text_white-space: var(--mixin-0MfXPpSN1pl6_white-space);
  --mixin-yoDgyljPVTBu_white-space: pre-wrap;
  --plasmic-mixin-primary_white-space: var(--mixin-yoDgyljPVTBu_white-space);
  --mixin-TxNL4HFbZ-Y-_white-space: pre-wrap;
  --plasmic-mixin-secondary_white-space: var(--mixin-TxNL4HFbZ-Y-_white-space);
  --mixin-uGNSMNsZMn69_white-space: pre-wrap;
  --plasmic-mixin-accent_white-space: var(--mixin-uGNSMNsZMn69_white-space);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-gdcrn_ZrKZ9h_font-family);
  font-size: var(--mixin-gdcrn_ZrKZ9h_font-size);
  font-weight: var(--mixin-gdcrn_ZrKZ9h_font-weight);
  font-style: var(--mixin-gdcrn_ZrKZ9h_font-style);
  color: var(--mixin-gdcrn_ZrKZ9h_color);
  text-align: var(--mixin-gdcrn_ZrKZ9h_text-align);
  text-transform: var(--mixin-gdcrn_ZrKZ9h_text-transform);
  line-height: var(--mixin-gdcrn_ZrKZ9h_line-height);
  letter-spacing: var(--mixin-gdcrn_ZrKZ9h_letter-spacing);
  white-space: var(--mixin-gdcrn_ZrKZ9h_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-HQcUrxPd9yqT_color);
  font-weight: var(--mixin-HQcUrxPd9yqT_font-weight);
  font-size: var(--mixin-HQcUrxPd9yqT_font-size);
  line-height: var(--mixin-HQcUrxPd9yqT_line-height);
  letter-spacing: var(--mixin-HQcUrxPd9yqT_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-v9vH6o8tZnWE_color);
  font-size: var(--mixin-v9vH6o8tZnWE_font-size);
  font-weight: var(--mixin-v9vH6o8tZnWE_font-weight);
  letter-spacing: var(--mixin-v9vH6o8tZnWE_letter-spacing);
  line-height: var(--mixin-v9vH6o8tZnWE_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-VtAtoidBgHmI_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-OexqNGmzJwT8_color);
  font-size: var(--mixin-OexqNGmzJwT8_font-size);
  font-weight: var(--mixin-OexqNGmzJwT8_font-weight);
  line-height: var(--mixin-OexqNGmzJwT8_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-R_RalThBLL0R_color);
  font-size: var(--mixin-R_RalThBLL0R_font-size);
  font-weight: var(--mixin-R_RalThBLL0R_font-weight);
  line-height: var(--mixin-R_RalThBLL0R_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-DhU_PdZw6bs4_font-family);
  border-radius: var(--mixin-DhU_PdZw6bs4_border-top-left-radius)
    var(--mixin-DhU_PdZw6bs4_border-top-right-radius)
    var(--mixin-DhU_PdZw6bs4_border-bottom-right-radius)
    var(--mixin-DhU_PdZw6bs4_border-bottom-left-radius);
  padding: var(--mixin-DhU_PdZw6bs4_padding-top)
    var(--mixin-DhU_PdZw6bs4_padding-right)
    var(--mixin-DhU_PdZw6bs4_padding-bottom)
    var(--mixin-DhU_PdZw6bs4_padding-left);
  border-top: var(--mixin-DhU_PdZw6bs4_border-top-width)
    var(--mixin-DhU_PdZw6bs4_border-top-style)
    var(--mixin-DhU_PdZw6bs4_border-top-color);
  border-right: var(--mixin-DhU_PdZw6bs4_border-right-width)
    var(--mixin-DhU_PdZw6bs4_border-right-style)
    var(--mixin-DhU_PdZw6bs4_border-right-color);
  border-bottom: var(--mixin-DhU_PdZw6bs4_border-bottom-width)
    var(--mixin-DhU_PdZw6bs4_border-bottom-style)
    var(--mixin-DhU_PdZw6bs4_border-bottom-color);
  border-left: var(--mixin-DhU_PdZw6bs4_border-left-width)
    var(--mixin-DhU_PdZw6bs4_border-left-style)
    var(--mixin-DhU_PdZw6bs4_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-3UDfSRSHSLVr_color);
  padding-left: var(--mixin-3UDfSRSHSLVr_padding-left);
  border-left: var(--mixin-3UDfSRSHSLVr_border-left-width)
    var(--mixin-3UDfSRSHSLVr_border-left-style)
    var(--mixin-3UDfSRSHSLVr_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-RYYrBaES5cyQ_font-family);
  border-radius: var(--mixin-RYYrBaES5cyQ_border-top-left-radius)
    var(--mixin-RYYrBaES5cyQ_border-top-right-radius)
    var(--mixin-RYYrBaES5cyQ_border-bottom-right-radius)
    var(--mixin-RYYrBaES5cyQ_border-bottom-left-radius);
  padding: var(--mixin-RYYrBaES5cyQ_padding-top)
    var(--mixin-RYYrBaES5cyQ_padding-right)
    var(--mixin-RYYrBaES5cyQ_padding-bottom)
    var(--mixin-RYYrBaES5cyQ_padding-left);
  border-top: var(--mixin-RYYrBaES5cyQ_border-top-width)
    var(--mixin-RYYrBaES5cyQ_border-top-style)
    var(--mixin-RYYrBaES5cyQ_border-top-color);
  border-right: var(--mixin-RYYrBaES5cyQ_border-right-width)
    var(--mixin-RYYrBaES5cyQ_border-right-style)
    var(--mixin-RYYrBaES5cyQ_border-right-color);
  border-bottom: var(--mixin-RYYrBaES5cyQ_border-bottom-width)
    var(--mixin-RYYrBaES5cyQ_border-bottom-style)
    var(--mixin-RYYrBaES5cyQ_border-bottom-color);
  border-left: var(--mixin-RYYrBaES5cyQ_border-left-width)
    var(--mixin-RYYrBaES5cyQ_border-left-style)
    var(--mixin-RYYrBaES5cyQ_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-a3lm1AyZ4p1E_display);
  flex-direction: var(--mixin-a3lm1AyZ4p1E_flex-direction);
  align-items: var(--mixin-a3lm1AyZ4p1E_align-items);
  justify-content: var(--mixin-a3lm1AyZ4p1E_justify-content);
  list-style-position: var(--mixin-a3lm1AyZ4p1E_list-style-position);
  padding-left: var(--mixin-a3lm1AyZ4p1E_padding-left);
  position: var(--mixin-a3lm1AyZ4p1E_position);
  list-style-type: var(--mixin-a3lm1AyZ4p1E_list-style-type);
  flex-column-gap: var(--mixin-a3lm1AyZ4p1E_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-vr9YH7aX6_TV_display);
  flex-direction: var(--mixin-vr9YH7aX6_TV_flex-direction);
  align-items: var(--mixin-vr9YH7aX6_TV_align-items);
  justify-content: var(--mixin-vr9YH7aX6_TV_justify-content);
  list-style-position: var(--mixin-vr9YH7aX6_TV_list-style-position);
  padding-left: var(--mixin-vr9YH7aX6_TV_padding-left);
  position: var(--mixin-vr9YH7aX6_TV_position);
  list-style-type: var(--mixin-vr9YH7aX6_TV_list-style-type);
  flex-column-gap: var(--mixin-vr9YH7aX6_TV_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-48ugKYo9Jits_color);
  font-size: var(--mixin-48ugKYo9Jits_font-size);
  font-weight: var(--mixin-48ugKYo9Jits_font-weight);
  line-height: var(--mixin-48ugKYo9Jits_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin--EKxWgPJSYkZ_color);
  font-size: var(--mixin--EKxWgPJSYkZ_font-size);
  font-weight: var(--mixin--EKxWgPJSYkZ_font-weight);
  line-height: var(--mixin--EKxWgPJSYkZ_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-IJ1IdFt3f_tJ_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
