.home {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: var(--token-iFK0LSJZpKEp);
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px 0px 74px;
}
.home > * {
  grid-column: 4;
}
@media (max-width: 1050px) {
  .home > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .home > * {
    grid-column: 4;
  }
}
.myNavBar:global(.__wab_instance):global(.__wab_instance) {
  position: fixed;
  top: -1px;
  left: 0px;
  z-index: 1;
  margin-bottom: 20px;
  height: 61px;
}
.header {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  height: 579px;
  align-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 20px 19px;
  margin: 8px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .header {
    height: 360px;
  }
}
.section__jw2Er {
  display: grid;
  position: relative;
  align-content: center;
  justify-items: flex-start;
  width: 642px;
  padding-left: 0;
  padding-right: 0;
  height: 269px;
  grid-row-gap: 51px;
  flex-shrink: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__jw2Er > * {
  grid-column: 4;
}
@media (max-width: 1050px) {
  .section__jw2Er {
    justify-items: center;
    align-content: space-evenly;
  }
}
@media (max-width: 1050px) {
  .section__jw2Er > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__jw2Er {
    justify-items: center;
    align-content: center;
    height: 100%;
    grid-row-gap: 25px;
    width: 100%;
    min-width: 0;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__jw2Er > * {
    grid-column: 4;
  }
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.h1 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-gTy0IqWtGj6W);
  text-align: left;
  text-transform: capitalize;
  color: var(--token-N9fFTRfh-71N);
  font-family: var(--token-IkcvTjgV1b3K);
  min-width: 0;
}
@media (max-width: 1050px) {
  .h1 {
    text-align: center;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    font-size: var(--token-9Euc8JWDpAXV);
    text-align: center;
  }
}
.span {
  background: linear-gradient(
      323deg,
      var(--token-ZCPVWjtKMh1f) 0%,
      var(--token-YYMT8tNw4zQp) 100%
    )
    0% 0% / 100% 100% repeat padding-box /* clip: text **/;
  background-clip: text;
  -webkit-background-clip: text;
}
.button___666Ko:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__i1F6B {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__djWtY {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.img__afySi {
  position: relative;
  object-fit: contain;
  max-width: 30%;
  width: 100%;
  min-width: 0;
}
.img__afySi > picture > img {
  object-fit: contain;
}
@media (max-width: 1050px) {
  .img__afySi {
    display: none !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__afySi {
    display: none !important;
  }
}
.divider {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  height: 16px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.divider > * {
  grid-column: 4;
}
.aboutThisJournal {
  display: grid;
  position: relative;
  align-content: center;
  justify-items: center;
  width: 100%;
  margin-top: 90px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px 40px;
}
.aboutThisJournal > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .aboutThisJournal {
    grid-row-gap: 17px;
    margin-top: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .aboutThisJournal > * {
    grid-column: 4;
  }
}
.text__jPHn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-N9fFTRfh-71N);
  font-family: var(--token-IkcvTjgV1b3K);
  font-size: var(--token-T0t0T03VB4jj);
  text-align: center;
  min-width: 0;
}
.section__wQfYy {
  display: flex;
  position: relative;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.img__tfgq4 {
  position: relative;
  object-fit: contain;
  max-width: 30.96%;
  width: 100%;
  min-width: 0;
}
.img__tfgq4 > picture > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__tfgq4 {
    display: none !important;
  }
}
.section___2OWh {
  display: grid;
  position: relative;
  align-content: center;
  justify-items: flex-end;
  width: 636px;
  padding-left: 0;
  padding-right: 0;
  grid-row-gap: 60px;
  flex-shrink: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section___2OWh > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section___2OWh {
    justify-items: center;
    align-content: center;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section___2OWh > * {
    grid-column: 4;
  }
}
.text__jzJE {
  position: relative;
  width: 480px;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-N9fFTRfh-71N);
  font-family: var(--token-eZhmss2gzwdG);
  font-size: var(--token-PME5L7XPvpsq);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__jzJE {
    text-align: center;
  }
}
.button___3EvxT:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__wJlnx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__slhAl {
    text-align: center;
  }
}
.svg___3Aeut {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.recentStories {
  display: grid;
  position: relative;
  align-content: center;
  justify-items: center;
  width: 100%;
  margin-top: 90px;
  grid-row-gap: 40px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px 80px;
}
.recentStories > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .recentStories {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .recentStories > * {
    grid-column: 4;
  }
}
.text__lpOB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-N9fFTRfh-71N);
  font-family: var(--token-IkcvTjgV1b3K);
  font-size: var(--token-T0t0T03VB4jj);
  text-align: center;
  font-weight: 400;
  min-width: 0;
}
.section__h7TI {
  display: flex;
  position: relative;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  flex-direction: row;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__h7TI {
    justify-content: center;
    align-items: center;
  }
}
.cmsDataFetcher:global(.__wab_instance) {
  width: 100%;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  position: relative;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .cmsDataFetcher:global(.__wab_instance) {
    width: 431px;
    flex-shrink: 0;
  }
}
.text__jvsO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.sliderCarousel:global(.__wab_instance) {
  width: 100%;
  max-width: 35.08%;
  flex-direction: column;
  object-fit: cover;
  position: relative;
  height: 300px;
  overflow: visible;
  align-self: center;
  text-align: center;
  min-width: 0;
}
@media (max-width: 1050px) {
  .sliderCarousel:global(.__wab_instance) {
    max-width: 42.6%;
    width: 100%;
    margin-right: 0px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .sliderCarousel:global(.__wab_instance) {
    max-width: 64.73%;
    width: 100%;
    min-width: 0;
  }
}
.img__xXjbG {
  object-fit: cover;
  max-width: 300px;
  height: 300px;
  align-self: center;
  margin: 0px;
}
.img__xXjbG > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__xXjbG {
    width: 164px;
  }
}
.text__km9Se {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__mLeeQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
